<h3>Echipa Maimutele Nebune</h3>
<div>
    <?php foreach($this->authors as $author => $porecla){?>
        <div>
            <span><?php echo $author?></span>
            <span> supranumit si </span>
            <span class="porecla"><?php echo $porecla?></span>
        </div>
    <?php }?>
</div>