<h1>Welcome to dinamic picture filtering</h1>
<p class="lead">DPF makes a match between a source image and a target library of images. Take a look at the example below.</p>
<p><img src="img/output.jpg" alt="example"></p>
<p><a class="btn btn-lg btn-success" href="<?php echo $this->url(array('controller'=>'index','action'=>'upload'),null,true); ?>" role="button">Get started</a></p>
