<div>
    <?php if($this->hasPost){?>
        <?php if($this->uploadSuccess){?>
            <div>Succesfully uploaded the picture</div>
            <div>
                <div>The uploaded picture</div>
                <img src="<?php echo ($this->picturePath);?>"  width="200px" height="200px"/>
            </div>
            <?php if(is_array($this->matchedImagesArray) && count($this->matchedImagesArray)>0){
                foreach($this->matchedImagesArray as $matchedImage){?>
                    <div>Matched Percentage:<?php echo $matchedImage['matchedPercentage']?></div>
                    <div>
                        <img src="<?php echo $matchedImage['libraryPicture']?>" style="float:left" width="200px" height="200px">
                        <img src="<?php echo $matchedImage['matchingPointPicture']?>" style="float:left" width="200px" height="200px">
                        <br style="clear:both"/>
                    </div>
                <?php }
            }?>
        <?php } else { ?>
            <div>An error occured during the upload</div>
            <?php echo $this->uploadError;?>
        <?php }?>
    <?php } else{
        echo $this->form;
    }?>

</div>