fieldset{
    border: 0px none;
}
#header-navigation{
    position: absolute;
    top: 100px;
    left: 200px;
}
a,h3,.porecla{
    color: #ACD433;
}

#content{
    position: relative;
    padding: 20px;
    margin-top: -5px;
}