<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Maimutele nebune - DPF</title>
    <?php echo $this->headLink()?>
    <?php echo $this->headScript()?>
</head>
<body>
<div class="container">
    <div class="masthead">
        <h3 class="text-muted">Dinamic picture filtering</h3>
        <ul class="nav nav-justified">
            <li <?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'index' ? 'class="active"' : ''; ?>><a href="<?php echo $this->url(array('controller'=>'index','action'=>'index'),null,true); ?>">Index</a></li>
            <li <?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'upload' ? 'class="active"' : ''; ?>><a href="<?php echo $this->url(array('controller'=>'index','action'=>'upload'),null,true); ?>">Upload</a></li>
            <li <?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'image-library' ? 'class="active"' : ''; ?>><a href="<?php echo $this->url(array('controller'=>'index','action'=>'image-library'),null,true); ?>">Library</a></li>
            <li <?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'picture-matched-library' ? 'class="active"' : ''; ?>><a href="<?php echo $this->url(array('controller'=>'index','action'=>'picture-matched-library'),null,true); ?>">Matched</a></li>
            <li <?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'authors' ? 'class="active"' : ''; ?>><a href="<?php echo $this->url(array('controller'=>'index','action'=>'authors'),null,true); ?>">Maimutele</a></li>
        </ul>
    </div>
    <div class="jumbotron">
        <?php echo $this->layout()->content; ?>
    </div>
</div>
</body>
</html>
